certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
idna==3.11
joblib==1.5.3
loguru==0.7.3
metatrader5==5.0.5430
numpy==2.2.6
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
ta==0.11.0
threadpoolctl==3.6.0
tzdata==2025.3
urllib3==2.6.2
win32_setctime==1.2.0
